<table data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<tr>
	<th scope="col"><f:translate key="tx_appointments_agenda.day_1" /></th>
	<th scope="col"><f:translate key="tx_appointments_agenda.day_2" /></th>
	<th scope="col"><f:translate key="tx_appointments_agenda.day_3" /></th>
	<th scope="col"><f:translate key="tx_appointments_agenda.day_4" /></th>
	<th scope="col"><f:translate key="tx_appointments_agenda.day_5" /></th>
	<th scope="col"><f:translate key="tx_appointments_agenda.day_6" /></th>
	<th scope="col"><f:translate key="tx_appointments_agenda.day_7" /></th>
</tr>

</table>