<f:for each="{week}" as="date">
	<td class="agendaDay{date.agendaClasses}">
		<div class="dayBar">
			<f:if condition="{date.allowCreate}">
				<f:then>
					<f:link.action controller="Appointment" arguments="{dateFirst : date.timestamp}" action="new1" addQueryString="TRUE" argumentsToBeExcludedFromQueryString="{0:'tx_appointments_list[appointment]'}" class="button_new_datefirst">
						{date.dayNumber} {date.monthShort}
					</f:link.action>
				</f:then>
				<f:else>
					{date.dayNumber} {date.monthShort}
				</f:else>
			</f:if>
		</div>
		<f:for each="{date.appointments}" as="appointment">
			<f:link.action controller="Appointment" action="show" arguments="{appointment : appointment}" addQueryString="TRUE" argumentsToBeExcludedFromQueryString="{0:'tx_appointments_list[dateFirst]'}" class="link_appointment">
				<f:format.date format="H:i">{appointment.beginTime}</f:format.date>
				{appointment.type.name}
			</f:link.action>
			<br />
		</f:for>
	</td>
</f:for>