<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:a="http://typo3.org/ns/Innologi/Appointments/ViewHelpers">
	
<f:layout name="Default" />

<f:section name="main">

<div class="header">
	<h3><f:translate key="tx_appointments_list.appointment_edit_header" /></h3>
	<f:link.action action="list" addQueryString="TRUE" argumentsToBeExcludedFromQueryString="{0:'tx_appointments_list[appointment]'}" class="button_back"><f:translate key="tx_appointments_list.appointment_list" /></f:link.action>
	<f:render partial="FormErrors" />
	<p><span class="required">*</span> = <f:translate key="tx_appointments_list.required" /></p>
</div>

<div class="formfield-wrap">
	<label>
		<f:translate key="property.appointment.type" />:
		<br />
		<input type="text" readonly="readonly" value="{appointment.type.name}" class="textinput small" />
	</label>
	<span class="csh" title="{f:translate(key:'property.appointment.type.cshEdit')}"><f:translate key="tx_appointments_list.csh" /></span>
</div>

<f:if condition="{dateSlots}">
	<f:form enctype="multipart/form-data" method="post" action="edit" arguments="{appointment : appointment}">
		<fieldset>
			<label>
				<f:translate key="tx_appointments_list.label_date_slot" />
				<br />
				<f:form.select id="appointments-select-date" name="changedDate" options="{dateSlots}" optionValueField="key" optionLabelField="label" value="{appointment.beginTime -> f:format.date(format:'Ymd')}" class="select" />
			</label>
			&rarr;
			
			<f:render partial="Appointment/FormFieldDateSubmit" arguments="{timeSlots : timeSlots}" />
			<f:render partial="Appointment/FormFieldDateCsh" arguments="{step : 1}" />
		</fieldset>
	</f:form>
</f:if>
	
<a:form action="update" id="appointment-form-{appointment.uid}" class="appointment-form" name="appointment" object="{appointment}" syncToken="TRUE" absolute="TRUE">
	<f:if condition="{timeSlots}">
		<fieldset>
			<label>
				<f:translate key="tx_appointments_list.label_time_slot" />
				<br />
				<f:form.select id="appointments-select-time" property="beginTime" options="{timeSlots}" optionValueField="key" optionLabelField="label" value="{appointment.beginTime -> f:format.date(format:'YmdHis')}" class="select" />
			</label>
			<f:render partial="Appointment/FormFieldTimeCsh" arguments="{step : 1}" />
		</fieldset>
	</f:if>
	
	<f:render partial="Appointment/FormFields" arguments="{appointment : appointment, formFieldValues : formFieldValues, timeSlots : timeSlots, superUser : superUser}" />
	<fieldset>
		<f:form.submit value="{f:translate(key: 'tx_appointments_list.submit_update')}" class="submit next" />
	</fieldset>
</a:form>
</f:section>

</html>