<f:layout name="FeUserOnly" />

<f:section name="FeUser">
<h3><f:translate key="tx_appointments_list.appointment_edit_header" /></h3>

<f:link.action action="list" addQueryString="TRUE" argumentsToBeExcludedFromQueryString="{0:'tx_appointments_list[appointment]'}" class="button_back"><f:translate key="tx_appointments_list.appointment_list" /></f:link.action>

<br />
<br />
<span class="required">*</span> = <f:translate key="tx_appointments_list.required" />

<f:render partial="FormErrors" arguments="{for: 'appointment', formFields : appointment.type.formFields}" />

<br />
<br />
<label>
	<f:translate key="tx_appointments_domain_model_appointment.type" />:
	<br />
	<input type="text" readonly="readonly" value="{appointment.type.name}" class="textinput small" />
</label>
<span class="csh" title="{f:translate(key:'tx_appointments_domain_model_appointment.type.csh_edit')}"><f:translate key="tx_appointments_list.csh" /></span>
<br />
<br />

<f:if condition="{dateSlots}">
	<f:form enctype="multipart/form-data" method="post" action="edit" arguments="{appointment : appointment}" id="dateForm">
		<fieldset>
			<label>
				<f:translate key="tx_appointments_list.label_date_slot" />
				<br />
				<f:form.select id="appointments-select-date" name="changedDate" options="{dateSlots}" optionValueField="key" optionLabelField="label" value="{appointment.beginTime -> f:format.date(format:'Ymd')}" class="select" />
			</label>
			&rarr;
			<f:form.submit id="appointments-submit-date" value="{f:translate(key: 'tx_appointments_list.submit_date_slot_change')}" class="submit" />
			<span class="csh" title="{f:translate(key:'tx_appointments_domain_model_appointment.begin_time.date.csh_new')}"><f:translate key="tx_appointments_list.csh" /></span>
		</fieldset>
	</f:form>
</f:if>
	
<f:form action="update" id="appointment" name="appointment" object="{appointment}">
	<f:if condition="{timeSlots}">
		<fieldset>
			<label>
				<f:translate key="tx_appointments_list.label_time_slot" />
				<br />
				<f:form.select property="beginTime" options="{timeSlots}" optionValueField="key" optionLabelField="label" value="{appointment.beginTime -> f:format.date(format:'Y-m-d H:i:s')}" class="select" />
			</label>
			<span class="csh" title="{f:translate(key:'tx_appointments_domain_model_appointment.begin_time.time.csh_new')}"><f:translate key="tx_appointments_list.csh" /></span>
		</fieldset>
	</f:if>
	<f:render partial="Appointment/FormFields" arguments="{appointment : appointment, formFieldValues : formFieldValues, timeSlots : timeSlots, superUser : superUser}" />
	<fieldset>
		<f:form.submit value="{f:translate(key: 'tx_appointments_list.submit_update')}" class="submit next" />
	</fieldset>
</f:form>
</f:section>