<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:a="http://typo3.org/ns/Innologi/Appointments/ViewHelpers">
	
<f:layout name="Default" />

<f:section name="main">

<div class="header">
	<f:link.action action="new1" addQueryString="TRUE" class="button_new"><f:translate key="tx_appointments_list.appointment_new" /></f:link.action>
	<f:if condition="{f:count(subject: unfinishedAppointments)} > 0">
		<!-- @FIX html! -->
		<f:render partial="Appointment/Unfinished" arguments="{appointments: unfinishedAppointments}" />
	</f:if>
</div>

<f:if condition="{f:count(subject: appointments)} > 0">
<!-- @TODO UL for default template, with labelless edit/delete buttons -->
<table class="appointmentList" summary="{f:translate(key:'tx_appointments_list.summary_list')}">
	<caption><f:translate key="tx_appointments_list.caption_list" /></caption>
	<tr>
		<th scope="col"><f:translate key="property.appointment" /></th>
		<th scope="col">&nbsp;</th>
		<th scope="col">&nbsp;</th>
	</tr>
	
	<f:for each="{appointments}" as="appointment">
		<tr>
			<td>
				<f:link.action action="show" arguments="{appointment : appointment}" addQueryString="TRUE" class="link_appointment">
					<f:format.date format="d-m-Y, H:i">{appointment.beginTime}</f:format.date>:
					{appointment.type.name}
				</f:link.action>
			</td>
			<f:if condition="{a:appointment.isMutable(appointment:appointment, time:now)}">
				<f:then>
					<td><f:link.action action="edit" arguments="{appointment : appointment}" addQueryString="TRUE" class="button_edit"><f:translate key="tx_appointments_list.appointment_edit" /></f:link.action></td>
					<td><a:form enctype="multipart/form-data" method="post" action="delete" object="{appointment}" objectName="appointment" class="delete-form one-button-form" syncToken="TRUE" absolute="TRUE">
						<fieldset><f:form.button type="submit" name="submit" class="button_delete"><f:translate key="tx_appointments_list.appointment_delete" /></f:form.button></fieldset>
					</a:form></td>
				</f:then>
				<f:else>
					<td colspan="2">&nbsp;</td>
				</f:else>
			</f:if>
		</tr>
	</f:for>
</table>
</f:if>
</f:section>

</html>