{namespace a=Tx_Appointments_ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Default" />

<f:section name="main">

<div class="header">
	<f:link.action action="new1" addQueryString="TRUE" class="button_new"><f:translate key="tx_appointments_list.appointment_new" /></f:link.action>
	<f:if condition="{f:count(subject: unfinishedAppointments)} > 0">
		<f:render partial="Appointment/Unfinished" arguments="{appointments: unfinishedAppointments}" />
	</f:if>
</div>

<f:if condition="{f:count(subject: appointments)} > 0">
<!-- @TODO UL for default template, with labelless edit/delete buttons -->
<table class="appointmentList" summary="{f:translate(key:'tx_appointments_list.summary_list')}">
	<caption><f:translate key="tx_appointments_list.caption_list" /></caption>
	<tr>
		<th scope="col"><f:translate key="tx_appointments_domain_model_appointment" /></th>
		<th scope="col">&nbsp;</th>
		<th scope="col">&nbsp;</th>
	</tr>

	<f:for each="{appointments}" as="appointment">
		<tr>
			<td>
				<f:link.action action="show" arguments="{appointment : appointment}" addQueryString="TRUE" class="link_appointment">
					<f:format.date format="d-m-Y, H:i">{appointment.beginTime}</f:format.date>:
					{appointment.type.name}
				</f:link.action>
			</td>
			<!-- @TODO I REALLY dont like this in view, review possibilities to do this via transient property assigned in controller -->
			<f:if condition="{now} < {v:math.sum(a:'{v:math.product(a:appointment.type.hoursMutable,b:3600)}',b:appointment.crdate)}">
				<f:then>
					<td><f:link.action action="edit" arguments="{appointment : appointment}" addQueryString="TRUE" class="button_edit"><f:translate key="tx_appointments_list.appointment_edit" /></f:link.action></td>
					<td><a:link.action action="delete" arguments="{appointment : appointment}" class="button_delete" syncToken="TRUE"><f:translate key="tx_appointments_list.appointment_delete" /></a:link.action></td>
				</f:then>
				<f:else>
					<td colspan="2">&nbsp;</td>
				</f:else>
			</f:if>
		</tr>
	</f:for>
</table>
</f:if>
</f:section>