<f:layout name="AppointmentsDefault" />
<f:section name="main">
<h3><f:translate key="tx_appointments_list.appointment_new" /></h3>

<f:link.action action="list" addQueryString="TRUE" argumentsToBeExcludedFromQueryString="{0:'tx_appointments_list[appointment]',1:'tx_appointments_list[buildCreate]',2:'tx_appointments_list[type]',3:'tx_appointments_list[beginTime]',4:'tx_appointments_list[dateFirst]'}" class="button_back"><f:translate key="tx_appointments_list.appointment_list" /></f:link.action>

<br />
<br />
<span class="required">*</span> = <f:translate key="tx_appointments_list.required" />

<f:render partial="FormErrors" arguments="{for: 'appointment', formFields : appointment.type.formFields}" />

<br />
<f:if condition="{types}">
	<f:form enctype="multipart/form-data" method="post" action="new" arguments="{agenda : agenda}" id="typeForm" object="{appointment}" objectName="appointment" class="allowUnload">
		<fieldset>
			<!-- The hidden properties in each form are for unpersisted appointments, to maintain values that are chosen in other forms if available -->
			<f:form.hidden property="beginTime"  value="{appointment.beginTime -> f:format.date(format:'Y-m-d H:i:s')}" />
			<f:form.hidden name="dateFirst" value="{dateFirst}" />
			<f:form.hidden name="buildCreate" value="{buildCreate}" />
			
			<label>
				<f:translate key="tx_appointments_list.label_type" />
				<br />
				<f:form.select id="appointments-select-type" property="type" options="{types}" optionValueField="uid" optionLabelField="name" class="select" />
			</label>
			&rarr;
			
			<f:if condition="{dateSlots}">
				<f:then>
					<f:form.submit id="appointments-submit-type" value="{f:translate(key: 'tx_appointments_list.submit_type_free')}" class="submit" />
				</f:then>
				<f:else>
					<f:form.submit id="appointments-submit-type" value="{f:translate(key: 'tx_appointments_list.submit_next_step')}" class="submit next" />
				</f:else>
			</f:if>
			
			<span class="csh" title="{f:translate(key: '{f:if(condition: buildCreate, then: \'tx_appointments_domain_model_appointment.type.csh_free\', else: \'tx_appointments_domain_model_appointment.type.csh_new\')}')}"><f:translate key="tx_appointments_list.csh" /></span>
		</fieldset>
	</f:form>
</f:if>

<f:if condition="{dateSlots}">
	<f:if condition="{buildCreate}">
		<f:then>
			<f:form enctype="multipart/form-data" method="post" action="free" arguments="{agenda : agenda}" id="dateForm" object="{appointment}" objectName="appointment">
				<fieldset>
					<label>
						<f:translate key="tx_appointments_list.label_date_slot" />
						<br />
						<f:form.select id="appointments-select-date" property="beginTime" options="{dateSlots}" optionValueField="key" optionLabelField="label" value="{appointment.beginTime -> f:format.date(format:'Ymd')}" class="select" disabled="disabled" />
					</label>
					
					<span class="csh" title="{f:translate(key:'tx_appointments_domain_model_appointment.begin_time.date.csh_free')}"><f:translate key="tx_appointments_list.csh" /></span>
				</fieldset>
			</f:form>
		</f:then>
		<f:else>
			<f:if condition="{dateFirst}">
				<f:then>
					<f:form enctype="multipart/form-data" method="post" action="free" arguments="{agenda : agenda}" id="dateForm" object="{appointment}" objectName="appointment">
						<fieldset>
							<label>
								<f:translate key="tx_appointments_list.label_date_slot" />
								<br />
								<f:form.select id="appointments-select-date" property="beginTime" options="{dateSlots}" optionValueField="key" optionLabelField="label" value="{appointment.beginTime -> f:format.date(format:'Ymd')}" class="select" disabled="disabled" />
							</label>
							
							<span class="csh" title="{f:translate(key:'tx_appointments_domain_model_appointment.begin_time.date.csh_datefirst')}"><f:translate key="tx_appointments_list.csh" /></span>
						</fieldset>
					</f:form>
				</f:then>
				<f:else>
					<f:form enctype="multipart/form-data" method="post" action="new" arguments="{agenda : agenda}" id="dateForm" object="{appointment}" objectName="appointment">
						<fieldset>
							<f:form.hidden property="type" />
							
							<label>
								<f:translate key="tx_appointments_list.label_date_slot" />
								<br />
								<f:form.select id="appointments-select-date" property="beginTime" options="{dateSlots}" optionValueField="key" optionLabelField="label" value="{appointment.beginTime -> f:format.date(format:'Ymd')}" class="select" />
							</label>
							&rarr;
							
							<f:if condition="{timeSlots}">
								<f:then>
									<f:form.submit id="appointments-submit-date" value="{f:translate(key: 'tx_appointments_list.submit_date_slot_change')}" class="submit" />
								</f:then>
								<f:else>
									<f:form.submit id="appointments-submit-date" value="{f:translate(key: 'tx_appointments_list.submit_next_step')}" class="submit next" />
								</f:else>
							</f:if>
							
							<span class="csh" title="{f:translate(key:'tx_appointments_domain_model_appointment.begin_time.date.csh_new')}"><f:translate key="tx_appointments_list.csh" /></span>
						</fieldset>
					</f:form>
				</f:else>
			</f:if>
		</f:else>
	</f:if>
</f:if>
	
<f:if condition="{timeSlots}">
	<f:if condition="{buildCreate}">
		<f:then>
			<f:form enctype="multipart/form-data" method="post" action="free" arguments="{agenda : agenda}" id="timeForm" object="{appointment}" objectName="appointment" class="allowUnload">
				<fieldset>
					<f:form.hidden property="type" />
					<f:form.hidden name="dateFirst" value="{dateFirst}" />
					
					<label>
						<f:translate key="tx_appointments_list.label_time_slot" />
						<br />
						<f:form.select id="appointments-select-time" property="beginTime" options="{timeSlots}" optionValueField="key" optionLabelField="label" value="{appointment.beginTime -> f:format.date(format:'Y-m-d H:i:s')}" class="select" disabled="disabled" />
					</label>
					&larr;
					
					<f:form.submit id="appointments-submit-time" value="{f:translate(key: 'tx_appointments_list.submit_free')}" class="submit" />
					
					<span class="csh" title="{f:translate(key:'tx_appointments_domain_model_appointment.begin_time.time.csh_free')}"><f:translate key="tx_appointments_list.csh" /></span>
				</fieldset>
			</f:form>
		</f:then>
		<f:else>
			<f:form enctype="multipart/form-data" method="post" action="new" arguments="{agenda : agenda}" id="timeForm" object="{appointment}" objectName="appointment">
				<fieldset>
					<f:form.hidden property="type" />
					<f:form.hidden name="buildCreate" value="1" />
					<f:form.hidden name="dateFirst" value="{dateFirst}" />
					
					<label>
						<f:translate key="tx_appointments_list.label_time_slot" />
						<br />
						<f:form.select id="appointments-select-time" property="beginTime" options="{timeSlots}" optionValueField="key" optionLabelField="label" value="{appointment.beginTime -> f:format.date(format:'Y-m-d H:i:s')}" class="select" />
					</label>					
					&rarr;
					
					<f:form.submit id="appointments-submit-time" value="{f:translate(key: 'tx_appointments_list.submit_next_step')}" class="submit next" />
					
					<span class="csh" title="{f:translate(key:'tx_appointments_domain_model_appointment.begin_time.time.csh_new')}"><f:translate key="tx_appointments_list.csh" /></span>
				</fieldset>
			</f:form>
		</f:else>
	</f:if>
</f:if>

<f:if condition="{buildCreate}">
	<f:form enctype="multipart/form-data" method="post" action="create" arguments="{agenda : agenda, buildCreate : '1'}" id="appointmentForm" object="{appointment}" objectName="appointment" class="allowUnload">
		<fieldset>
			<span class="warnUnload"><f:translate key="tx_appointments_list.warn_unload" /></span>
			<f:form.hidden name="dateFirst" value="{dateFirst}" />
		</fieldset>
		
		<f:render partial="Appointment/FormFields" arguments="{appointment : appointment, formFieldValues : formFieldValues, superUser : superUser}" />
		
		<fieldset>
			<f:form.submit value="{f:translate(key: 'tx_appointments_list.submit_new')}" class="submit next" />
		</fieldset>
	</f:form>
</f:if>

</f:section>