<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:a="http://typo3.org/ns/Innologi/Appointments/ViewHelpers">
	
<f:layout name="Default" />

<f:section name="main">

<div class="header">
	<h3><f:translate key="tx_appointments_list.appointment_new" /></h3>
	<f:link.action action="list" addQueryString="TRUE" argumentsToBeExcludedFromQueryString="{0:'tx_appointments_list[appointment]',1:'tx_appointments_list[dateFirst]'}" class="button_back"><f:translate key="tx_appointments_list.appointment_list" /></f:link.action>
	<f:render partial="FormErrors" arguments="{formFields : FALSE}" />
</div>

<f:if condition="{types}">
	<f:form enctype="multipart/form-data" method="post" action="new1" object="{appointment}" objectName="appointment" class="allowUnload">
		<fieldset>
			<f:render partial="Appointment/FormFieldType" arguments="{appointment : appointment, types : types, dateSlots : dateSlots, step : 1}" />
		</fieldset>
	</f:form>
</f:if>

<f:if condition="{dateSlots}">
	<f:form enctype="multipart/form-data" method="post" action="new1" object="{appointment}" objectName="appointment" class="allowUnload">
		<fieldset>
			<f:form.hidden property="type" />
			
			<label>
				<f:translate key="tx_appointments_list.label_date_slot" />
				<br />
				<f:form.select id="appointments-select-date" property="beginTime" options="{dateSlots}" optionValueField="key" optionLabelField="label" value="{appointment.beginTime -> f:format.date(format:'Ymd')}" class="select" />
			</label>
			&rarr;
			
			<f:render partial="Appointment/FormFieldDateSubmit" arguments="{timeSlots : timeSlots}" />
			<f:render partial="Appointment/FormFieldDateCsh" arguments="{step : 1}" />
		</fieldset>
	</f:form>
</f:if>
	
<f:if condition="{timeSlots}">
	<a:form enctype="multipart/form-data" method="post" action="processNew" object="{appointment}" objectName="appointment" class="allowUnload" syncToken="TRUE" absolute="TRUE">
		<fieldset>
			<f:form.hidden property="type" />
			
			<label>
				<f:translate key="tx_appointments_list.label_time_slot" />
				<br />
				<f:form.select id="appointments-select-time" property="beginTime" options="{timeSlots}" optionValueField="key" optionLabelField="label" value="{appointment.beginTime -> f:format.date(format:'YmdHis')}" class="select" />
			</label>					
			&rarr;
			
			<f:form.submit id="appointments-submit-time" value="{f:translate(key: 'tx_appointments_list.submit_next_step')}" class="submit next" />
			<f:render partial="Appointment/FormFieldTimeCsh" arguments="{step : 1}" />
		</fieldset>
	</a:form>
</f:if>

<f:if condition="{appointment.uid}">
	<f:form enctype="multipart/form-data" method="post" action="new1" id="appointment-form-{appointment.uid}" object="{appointment}" objectName="appointment" class="appointment-form disabled warnUnload session">
		<f:render partial="Appointment/FormFields" arguments="{appointment : appointment, formFieldValues : formFieldValues, superUser : superUser}" />
	</f:form>
</f:if>

</f:section>

</html>