<f:layout name="AppointmentsDefault" />
<f:section name="main">
<h3><f:translate key="tx_appointments_list.appointment_new" /></h3>

<f:link.action action="list" addQueryString="TRUE" argumentsToBeExcludedFromQueryString="{0:'tx_appointments_list[appointment]',1:'tx_appointments_list[dateFirst]'}" class="button_back"><f:translate key="tx_appointments_list.appointment_list" /></f:link.action>

<f:render partial="FormErrors" arguments="{for: 'appointment', formFields : appointment.type.formFields}" />

<br />
<f:if condition="{types}">
	<f:form enctype="multipart/form-data" method="post" action="simpleProcessNew" id="typeForm" object="{appointment}" objectName="appointment" class="allowUnload">
		<fieldset>
			<!-- The hidden properties in each form are for unpersisted appointments, to maintain values that are chosen in other forms if available -->
			<f:form.hidden property="beginTime"  value="{appointment.beginTime -> f:format.date(format:'Y-m-d H:i:s')}" />
			
			<label>
				<f:translate key="tx_appointments_list.label_type" />
				<br />
				<f:form.select id="appointments-select-type" property="type" options="{types}" optionValueField="uid" optionLabelField="name" class="select" />
			</label>
			&rarr;
			
			<f:form.submit id="appointments-submit-type" value="{f:translate(key: 'tx_appointments_list.submit_type')}" class="submit" />
			
			<span class="csh" title="{f:translate(key: 'tx_appointments_domain_model_appointment.type.csh_new2')}"><f:translate key="tx_appointments_list.csh" /></span>
		</fieldset>
	</f:form>
</f:if>

<f:if condition="{dateSlots}">
	<f:form enctype="multipart/form-data" method="post" action="free" id="dateForm" object="{appointment}" objectName="appointment">
		<fieldset>
			<label>
				<f:translate key="tx_appointments_list.label_date_slot" />
				<br />
				<f:form.select id="appointments-select-date" property="beginTime" options="{dateSlots}" optionValueField="key" optionLabelField="label" value="{appointment.beginTime -> f:format.date(format:'Ymd')}" class="select" disabled="disabled" />
			</label>
			<span class="csh" title="{f:translate(key:'tx_appointments_domain_model_appointment.begin_time.date.csh_new2')}"><f:translate key="tx_appointments_list.csh" /></span>
		</fieldset>
	</f:form>
</f:if>
	
<f:if condition="{timeSlots}">
	<f:form enctype="multipart/form-data" method="post" action="free" id="timeForm" object="{appointment}" objectName="appointment" class="allowUnload">
		<fieldset>
			<label>
				<f:translate key="tx_appointments_list.label_time_slot" />
				<br />
				<f:form.select id="appointments-select-time" property="beginTime" options="{timeSlots}" optionValueField="key" optionLabelField="label" value="{appointment.beginTime -> f:format.date(format:'Y-m-d H:i:s')}" class="select{f:if(condition: timeError, then: ' f3-form-error')}" disabled="disabled" />
			</label>
			&larr;
					
			<f:form.submit id="appointments-submit-time" value="{f:translate(key: '{f:if(condition: expired, then: \'tx_appointments_list.submit_time_expired\', else: \'tx_appointments_list.submit_free\' )}')}" class="submit" />
			<span class="csh" title="{f:translate(key:'tx_appointments_domain_model_appointment.begin_time.time.csh_new2')}"><f:translate key="tx_appointments_list.csh" /></span>
		</fieldset>
	</f:form>
</f:if>

<br />
<br />
<span class="required">*</span> = <f:translate key="tx_appointments_list.required" />
<f:form enctype="multipart/form-data" method="post" action="create" id="appointmentForm" object="{appointment}" objectName="appointment" class="warnUnload allowUnload">
	<f:render partial="Appointment/FormFields" arguments="{appointment : appointment, formFieldValues : formFieldValues, superUser : superUser}" />
		
	<fieldset>
		<f:form.submit value="{f:translate(key: 'tx_appointments_list.submit_new')}" class="submit next" />
	</fieldset>
</f:form>

</f:section>