<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:a="http://typo3.org/ns/Innologi/Appointments/ViewHelpers">
	
<f:layout name="Default" />

<f:section name="main">

<div class="header">
	<h3><f:translate key="tx_appointments_list.appointment_show_header" /></h3>
	<f:link.action action="list" addQueryString="TRUE" argumentsToBeExcludedFromQueryString="{0:'tx_appointments_list[appointment]'}" class="button_back"><f:translate key="tx_appointments_list.appointment_list" /></f:link.action>
	<f:if condition="{mutable}">
		<f:link.action action="edit" arguments="{appointment : appointment}" addQueryString="TRUE" class="button_edit"><f:translate key="tx_appointments_list.appointment_edit" /></f:link.action>
		<f:form enctype="multipart/form-data" method="post" action="delete" object="{appointment}" objectName="appointment" class="delete-form one-button-form" absolute="TRUE">
			<fieldset>
				<f:form.hidden name="stoken" value="{a:csrf(uid:appointment.uid)}" />
				<f:form.button type="submit" name="submit" class="button_delete"><f:translate key="tx_appointments_list.appointment_delete" /></f:form.button>
			</fieldset>
		</f:form>
	</f:if>
</div>

<f:render partial="Appointment/Properties" arguments="{appointment:appointment, formFieldValues:formFieldValues, superUser:superUser, showMore:showMore}" />

</f:section>

</html>