<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{formFieldValues}">
	<fieldset>
		<h4><f:translate key="property.appointment.formFieldValues" /></h4>
		<f:for each="{formFieldValues}" as="value">
			<f:render partial="FormField/FormFields" arguments="{formFieldValue : value, formField : value.formField}" />
		</f:for>
	</fieldset>
</f:if>

<f:if condition="{appointment.type.addressDisable}">
	<f:else>
		<fieldset>
			<h4><f:translate key="property.appointment.address" /></h4>
			<f:render partial="Address/FormFields" arguments="{address : appointment.address, type : appointment.type}" />
		</fieldset>
	</f:else>
</f:if>

<fieldset>
	<h4><f:translate key="property.appointment.specialFields" /></h4>
	<div class="formfield-wrap">
		<label>
			<f:translate key="property.appointment.notes" />
			<br />
			<f:form.textarea id="appointments-notes" property="notes" cols="40" rows="15" class="session" />
		</label>
		<span class="csh" title="{f:translate(key:'property.appointment.notes.csh')}"><f:translate key="tx_appointments_list.csh" /></span>
	</div>
	
	<f:if condition="{superUser}">
		<div class="formfield-wrap">
			<label>
				<f:translate key="property.appointment.notesSu" />
				<br />
				<f:form.textarea id="appointments-notesSu" property="notesSu" cols="40" rows="15" class="session" />
			</label>
			<span class="csh" title="{f:translate(key:'property.appointment.notesSu.csh')}"><f:translate key="tx_appointments_list.csh" /></span>
		</div>
	</f:if>
</fieldset>

</html>