<p data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:form.hidden property="beginTime" value="{appointment.beginTime -> f:format.date(format:'YmdHis')}" />

<label>
	<f:translate key="tx_appointments_list.label_type" />
	<br />
	<f:form.select id="appointments-select-type" property="type" options="{types}" optionValueField="uid" optionLabelField="name" class="select" />
</label>
&rarr;

<f:if condition="{dateSlots}">
	<f:then>
		<f:form.submit id="appointments-submit-type" value="{f:translate(key: 'tx_appointments_list.submit_type')}" class="submit" />
	</f:then>
	<f:else>
		<f:form.submit id="appointments-submit-type" value="{f:translate(key: 'tx_appointments_list.submit_next_step')}" class="submit next" />
	</f:else>
</f:if>

<span class="csh" title="{f:translate(key: 'property.appointment.type.cshNew{step}')}"><f:translate key="tx_appointments_list.csh" /></span>

</p>