<table class="single-appointment" summary="{f:translate(key:'tx_appointments_list.summary_show')}">
	<caption><f:translate key="tx_appointments_list.caption_show" /></caption>
	
	<tr>
		<td scope="row">
			<f:translate key="tx_appointments_domain_model_appointment.type" />
		</td>
		<td>
			<f:format.html>{appointment.type.name}</f:format.html>
		</td>
	</tr>
	<tr>
		<td scope="row">
			<f:translate key="tx_appointments_domain_model_appointment.begin_time.date" />
		</td>
		<td>
			<f:format.date format="d-m-Y">{appointment.beginTime}</f:format.date>
		</td>
	</tr>
	<tr>
		<td scope="row">
			<f:translate key="tx_appointments_domain_model_appointment.begin_time.time" />
		</td>
		<td>
			<f:format.date format="H:i">{appointment.beginTime}</f:format.date>
			-
			<f:format.date format="H:i">{appointment.endTime}</f:format.date>
		</td>
	</tr>
	
	<f:if condition="{appointment.feUser}">
		<tr>
			<td scope="row">
				<f:translate key="tx_appointments_domain_model_appointment.fe_user" />
			</td>
			<td>
				<f:format.html>{appointment.feUser.name}</f:format.html>
			</td>
		</tr>
	</f:if>
	
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	
	<f:if condition="{formFieldValues}">
		<tr>
			<th colspan="2" scope="col">
				<f:translate key="tx_appointments_domain_model_appointment.form_field_values" />
			</th>
		</tr>
		<f:for each="{formFieldValues}" as="value">
			<f:render partial="FormField/Properties" arguments="{formFieldValue : value, formField : value.formField}" />
		</f:for>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
	</f:if>
	
	<f:if condition="{showMore}">
		<f:if condition="{appointment.type.addressDisable}">
			<f:then>
				<!-- TYPO3 4.5 compatibility -->
			</f:then>
			<f:else>
				<tr>
					<th colspan="2" scope="col">
						<f:translate key="tx_appointments_domain_model_appointment.address" />
					</th>
				</tr>
				<f:render partial="Address/Properties" arguments="{address : appointment.address, type : appointment.type}" />
			
				<tr>
					<td colspan="2">&nbsp;</td>
				</tr>
			</f:else>
		</f:if>
		
		<tr>
			<tr>
				<th colspan="2" scope="col">
					<f:translate key="tx_appointments_domain_model_appointment.special_fields" />
				</th>
			</tr>
			<td scope="row">
				<f:translate key="tx_appointments_domain_model_appointment.notes" />
			</td>
			<td>
				<f:format.html>{appointment.notes}</f:format.html>
			</td>
		</tr>
	</f:if>
	
	<f:if condition="{superUser}">
		<tr>
			<td scope="row">
				<f:translate key="tx_appointments_domain_model_appointment.notes_su" />
			</td>
			<td>
				<f:format.html>{appointment.notesSu}</f:format.html>
			</td>
		</tr>
	</f:if>
</table>