<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<table class="single-appointment" summary="{f:translate(key:'tx_appointments_list.summary_show')}">
	<caption><f:translate key="tx_appointments_list.caption_show" /></caption>
	
	<tr>
		<td scope="row">
			<f:translate key="property.appointment.type" />
		</td>
		<td>{appointment.type.name}</td>
	</tr>
	<tr>
		<td scope="row">
			<f:translate key="property.appointment.beginTime.date" />
		</td>
		<td>
			<f:format.date format="d-m-Y">{appointment.beginTime}</f:format.date>
		</td>
	</tr>
	<tr>
		<td scope="row">
			<f:translate key="property.appointment.beginTime.time" />
		</td>
		<td>
			<f:format.date format="H:i">{appointment.beginTime}</f:format.date>
			-
			<f:format.date format="H:i">{appointment.endTime}</f:format.date>
		</td>
	</tr>
	
	<f:if condition="{appointment.feUser}">
		<tr>
			<td scope="row">
				<f:translate key="property.appointment.feUser" />
			</td>
			<td>{f:if(condition:appointment.feUser.name, then:appointment.feUser.name, else:appointment.feUser.username)}</td>
		</tr>
	</f:if>
	
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	
	<f:if condition="{formFieldValues}">
		<tr>
			<th colspan="2" scope="col">
				<f:translate key="property.appointment.formFieldValues" />
			</th>
		</tr>
		<f:for each="{formFieldValues}" as="value">
			<f:render partial="FormField/Properties" arguments="{formFieldValue : value, formField : value.formField}" />
		</f:for>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
	</f:if>
	
	<f:if condition="{showMore}">
		<tr>
		<f:if condition="{appointment.type.addressDisable}">
			<f:then>
				<!-- TYPO3 4.5 compatibility -->
			</f:then>
			<f:else>
				<tr>
					<th colspan="2" scope="col">
						<f:translate key="property.appointment.address" />
					</th>
				</tr>
				<f:render partial="Address/Properties" arguments="{address : appointment.address, type : appointment.type}" />
			
				<tr>
					<td colspan="2">&nbsp;</td>
				</tr>
			</f:else>
		</f:if>
		<tr>
			<th colspan="2" scope="col">
				<f:translate key="property.appointment.specialFields" />
			</th>
		</tr>
		<tr>
			<td scope="row">
				<f:translate key="property.appointment.notes" />
			</td>
			<td>{appointment.notes}</td>
		</tr>
	</f:if>
	
	<f:if condition="{superUser}">
		<tr>
			<td scope="row">
				<f:translate key="property.appointment.notesSu" />
			</td>
			<td>{appointment.notesSu}</td>
		</tr>
	</f:if>
</table>

</html>