<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:form.errors>
	<div class="validation">
		<div class="validation-errors">
			<div class="validation-header"><f:translate key="tx_appointments_list.validation_errors" /></div>
			<ul class="validation-error-messages">
				<f:for each="{error.errors}" as="err">
					<f:render partial="FormErrorsDetail" arguments="{entity: 'appointment', error: err, formFields: formFields}" />
				</f:for>
			</ul>
		</div>
	</div>
</f:form.errors>

</html>