{namespace v=Tx_Vhs_ViewHelpers}
{namespace a=Tx_Appointments_ViewHelpers}
<label>
	{formField.label}
	
	<f:if condition="{formFieldValue.uid}">
		<f:then>
			<f:form.hidden property="formFieldValues.{formField.uid}.__identity" value="{formFieldValue.uid}" />
		</f:then>
		<f:else>
			<f:form.hidden property="formFieldValues.{formField.uid}.formField" value="{formField}" />
		</f:else>
	</f:if>

	<v:switch value="{formField.fieldType}">
		<v:case case="1" break="TRUE"> <!-- Boolean / Checkbox -->
			<f:form.checkbox property="formFieldValues.{formField.uid}.value" value="1" checked="{formFieldValue.value} == 1" class="checkbox" />
		</v:case>
		<v:case case="2" break="TRUE">  <!-- Select -->
			<br />
			<f:form.select property="formFieldValues.{formField.uid}.value" options="{formField.choices}" value="{formFieldValue.value}" class="select" />
		</v:case>
		<v:case case="3" break="TRUE"> <!-- Textsmall / Input -->
			<f:if condition="{formField.validationTypes}">
				<f:then>
					<span class="required">*</span>
					<br />
					<a:form.textfield property="formFieldValues.{formField.uid}.value" value="{formFieldValue.value}" class="textinput" />
				</f:then>
				<f:else>
					<br />
					<a:form.textfield property="formFieldValues.{formField.uid}.value" value="{formFieldValue.value}" class="textinput" />
				</f:else>
			</f:if>
		</v:case>
		<v:case case="4"> <!-- Textlarge / Textarea -->
			<f:if condition="{formField.validationTypes}">
				<span class="required">*</span>
			</f:if>
			<br />
			<a:form.textarea property="formFieldValues.{formField.uid}.value" value="{formFieldValue.value}" cols="40" rows="15" />
		</v:case>
	</v:switch>
</label>

<f:if condition="{formField.csh}">
	<span class="csh" title="{formField.csh}"><f:translate key="tx_appointments_list.csh" /></span>
</f:if>

<br />
<br />