<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<!-- FormField check required in case it was removed later on -->
<!-- @TODO too much logic in view, move it to controller -->
<f:if condition="{formField}">
	<tr>
		<td scope="row">
			{formField.label}
			<!-- @LOW allow enablers not to be shown if so desired? -->
		</td>
		<td>
			<f:switch expression="{formField.fieldType}">
				<f:case value="1"> <!-- Boolean / Checkbox -->
					<f:translate key="tx_appointments_list.{f:if(condition:'{formFieldValue.value} == 1', then:'yes', else:'no')}" />
				</f:case>
				<f:case value="2"> <!-- Select -->
					{formField.choicesArray.{formFieldValue.value}}
				</f:case>
				<f:case value="3"> <!-- Textsmall / Input -->
					{formFieldValue.value}
				</f:case>
				<f:case value="4"> <!-- Textlarge / Textarea -->
					{formFieldValue.value}
				</f:case>
				<f:case value="5"> <!-- Radio -->
					{formField.choicesArray.{formFieldValue.value}}
				</f:case>
			</f:switch>
		</td>
	</tr>
</f:if>

</html>