<label>
	<f:translate key="tx_appointments_domain_model_address.first_name" /><br />
	<f:form.textfield property="address.firstName" id="firstName" class="textinput" />
</label>
<br />
<br />

<label>
	<f:translate key="tx_appointments_domain_model_address.middle_name" /><br />
	<f:form.textfield property="address.middleName" id="middleName" class="textinput" />
</label>
<br />
<br />

<label>
	<f:translate key="tx_appointments_domain_model_address.last_name" /><br />
	<f:form.textfield property="address.lastName" id="lastName" class="textinput" />
</label>
<br />
<br />

<label>
	<f:translate key="tx_appointments_domain_model_address.social_security_number" /><br />
	<f:form.textfield property="address.socialSecurityNumber" id="socialSecurityNumber" class="textinput" />
</label>
<br />
<br />

<label>
	<f:translate key="tx_appointments_domain_model_address.gender" /><br />
	<f:form.select property="address.gender" options="{m: '{f:translate(key: \'tx_appointments_domain_model_address.gender.m\')}', f: '{f:translate(key: \'tx_appointments_domain_model_address.gender.f\')}'}"  id="gender" class="select" />
</label>
<br />
<br />

<label>
	<f:translate key="tx_appointments_domain_model_address.birthday" /><br />
	<f:form.textfield property="address.birthday" value="{address.birthday -> f:format.date(format:'d-m-Y')}" id="birthday" class="textinput" placeholder="{f:translate(key: 'tx_appointments_domain_model_address.birthday.placeholder')}" />
</label>
<br />
<br />

<label>
	<f:translate key="tx_appointments_domain_model_address" /><br />
	<f:form.textfield property="address.address" id="address" class="textinput" />
</label>
<br />
<br />

<label>
	<f:translate key="tx_appointments_domain_model_address.zip" /><br />
	<f:form.textfield property="address.zip" id="zip" class="textinput" placeholder="{f:translate(key: 'tx_appointments_domain_model_address.zip.placeholder')}" />
</label>
<br />
<br />

<label>
	<f:translate key="tx_appointments_domain_model_address.city" /><br />
	<f:form.textfield property="address.city" id="city" class="textinput" />
</label>
<br />
<br />

<f:form.hidden property="address.name" />