<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
	
<f:if condition="{type.addressEnableName}">
	<tr>
		<td scope="row">
			<f:translate key="property.appointment.address.name" />
		</td>
		<td>{address.name}</td>
	</tr>
</f:if>

<f:if condition="{type.addressEnableSecurity}">
	<tr>
		<td scope="row">
			<f:translate key="property.appointment.address.socialSecurityNumber" />
		</td>
		<td>{address.socialSecurityNumber}</td>
	</tr>
</f:if>

<f:if condition="{type.addressEnableGender}">
	<tr>
		<td scope="row">
			<f:translate key="property.appointment.address.gender" />
		</td>
		<td>
			<f:translate key="property.appointment.address.gender.{address.gender}" />
		</td>
	</tr>
</f:if>

<f:if condition="{type.addressEnableBirthday}">
	<tr>
		<td scope="row">
			<f:translate key="property.appointment.address.birthday" />
		</td>
		<td><f:format.date format="d-m-Y">{address.birthday}</f:format.date></td>
	</tr>
</f:if>

<f:if condition="{type.addressEnableAddress}">
	<tr>
		<td scope="row">
			<f:translate key="property.appointment.address.address" />
		</td>
		<td>
			{address.address}
			<br />
			{address.zip}
			{address.city}
		</td>
	</tr>
</f:if>

<f:if condition="{type.addressEnableEmail}">
	<tr>
		<td scope="row">
			<f:translate key="property.appointment.address.email" />
		</td>
		<td>{address.email}</td>
	</tr>
</f:if>

</html>