<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:a="http://typo3.org/ns/Innologi/Appointments/ViewHelpers">
	
<f:layout name="NoFlash" />

<f:section name="main">

<f:if condition="{agenda}">

<div class="agendaBar">
	<f:if condition="{month.canBack}">
		<f:link.action title="{f:translate(key:'link.title.previous')}" arguments="{monthModifier : month.backModifier}" addQueryString="TRUE" class="button_agendaBack"><f:translate key="tx_appointments_domain_model_agenda_month.month_back" /></f:link.action>
	</f:if>
	{month.name} {month.year}
	<f:if condition="{month.canForward}">
		<f:link.action title="{f:translate(key:'link.title.next')}" arguments="{monthModifier : month.forwardModifier}" addQueryString="TRUE" class="button_agendaForward"><f:translate key="tx_appointments_domain_model_agenda_month.month_forward" /></f:link.action>
	</f:if>
</div>

<table class="agendaShow" summary="{f:translate(key:'tx_appointments_agenda.summary_month')}">
	<caption><f:translate key="tx_appointments_agenda.caption_month" /></caption>
	<f:render partial="Agenda/TableHeader" />
	
	<tr>
		<a:loop count="{month.weekdaysBeforeFirst}">
			<td>&nbsp;</td>
		</a:loop>
	
	<f:for each="{month.weeks}" as="week" iteration="iterationInfo">
		<f:render partial="Agenda/Week" arguments="{week : week, currentDate : currentDate}" />
		
		<f:if condition="{iterationInfo.isLast}">
			<f:then></f:then>
			<f:else>
				</tr>
				<tr>
			</f:else>
		</f:if>
	</f:for>
	
		<a:loop count="{month.weekdaysAfterLast}">
			<td>&nbsp;</td>
		</a:loop>
	</tr>
		
</table>

</f:if>

</f:section>

</html>