@charset "UTF-8";

.tx-appointments,
.tx-appointments .one-button-form button {
	font-family:helvetica,arial,sans-serif;
}

.tx-appointments p {
	margin:10px 0;
}

.tx-appointments table caption {
	display:none;
}

.tx-appointments table {
	border-collapse:separate;
	border-spacing:5px;
}

.tx-appointments .header,
.tx-appointments .single-appointment {
	margin-bottom:15px;
}

.tx-appointments table th {
	font-weight:bold;
	text-align:center;
}

.tx-appointments table td {
	vertical-align:top;
}

.tx-appointments h4 {
	margin:15px 0 10px;
}

.tx-appointments a,
.tx-appointments .one-button-form button {
	color:#66f;
	text-decoration:none;
}
.tx-appointments a:hover,
.tx-appointments a:focus,
.tx-appointments a:active,
.tx-appointments .one-button-form button:hover,
.tx-appointments .one-button-form button:focus,
.tx-appointments .one-button-form button:active {
	color:#f22;
}



/* List */

.tx-appointments .appointmentList .link_appointment {
	font-size:0.9em;
}
.tx-appointments .links .time-unreserved {
	text-decoration:line-through;
}


/* Agenda */

.tx-appointments .agendaBar {
	border:1px solid #eee;
	text-align:center;
	font-size:1.3em;
	position:relative;
	font-weight:bold;
	padding:10px 0;
	width:99.5%;
	height:25px;
	background-color:#fafafa;
}

.tx-appointments .button_agendaBack {
	left:15px;
}

.tx-appointments .button_agendaForward {
	right:15px;
}

.tx-appointments .button_agendaBack,
.tx-appointments .button_agendaForward {
	position:absolute;
	top:13px;
	font-size:0.8em;
	font-weight:normal;
}

.tx-appointments .agendaShow {
	width:100%;
}

.tx-appointments .button_agendaBack:before {
	content:"\2190\0000a0";
}

.tx-appointments .button_agendaForward:after {
	content:"\0000a0\2192";
}

.tx-appointments .agendaShow th {
	background-color:#e9e9e9;
	font-size:0.9em;
}

.tx-appointments .agendaShow td {
	background-color:#e9e9e9;
	padding:5px;
	height:90px;
	width:14%;
}

.tx-appointments .agendaShow .agendaDay {
	background-color:#f6f6f6;
	border:1px solid #e9e9e9;
}

.tx-appointments .agendaShow .agendaDay.current,
.tx-appointments .agendaShow .agendaDay.current.holiday {
	background-color:#ffc;
}

.tx-appointments .agendaShow .agendaDay.holiday {
	background-color:#fee;
}

.tx-appointments .agendaShow .agendaDay.current.holiday {
	border:1px solid #fdd;
}

.tx-appointments .agendaDay .dayBar {
	background-color:#f9f9f9;
	text-align:right;
	color:#555;
	overflow:hidden;
	font-size:0.9em;
	font-weight:bold;
	padding-right:3px;
	text-transform:lowercase;
}

.tx-appointments .agendaDay > ul {
	list-style-type:none;
	line-height:1.2em;
	margin:3px 0 0 !important;
}

.tx-appointments .agendaShow .link_appointment {
	font-size:0.8em;
}


/* Buttons */

.tx-appointments .button_new,
.tx-appointments .button_edit,
.tx-appointments .button_delete,
.tx-appointments .button_back {
	font-size:1.1em;
	display:inline-block;
}
.tx-appointments .agendaDay .dayBar a.button_new_datefirst {
	color:#555;
}
.tx-appointments .button_edit,
.tx-appointments .button_delete {
	margin-left:15px;
}

.tx-appointments .csh {
	overflow:hidden;
	width:16px;
	height:18px;
	display:inline-block;
	position:absolute;
	margin-left:8px;
}

.tx-appointments .tooltip {
	position:absolute;
	display:inline-block;
	opacity:0.85;
	background-color:#000;
	border:1px solid #555;
	color:#fff;
	font-size:0.9em;
	max-width:240px;
	margin-left:32px;
	padding:3px 5px;
	z-index:999;
}

.tx-appointments .button_new:before,
.tx-appointments .button_new_datefirst:before,
.tx-appointments .button_edit:before,
.tx-appointments .button_delete:before,
.tx-appointments .button_back:before,
.tx-appointments .csh:before,
.tx-appointments .typo3-messages .alert .alert-message:before,
.tx-appointments .validation-errors .validation-header:before {
	background-image:url("/typo3conf/ext/appointments/Resources/Public/Icons/t3skin.png");
	content:"";
	float:left;
	height:16px;
	width:16px;
	margin:2px 8px 0 0;
}

.tx-appointments .button_new:before,
.tx-appointments .button_new_datefirst:before {
	background-position:-180px 0;
}
.tx-appointments .button_edit:before {
	background-position:-198px 0;
}
.tx-appointments .button_delete:before {
	background-position:-162px -18px;
}
.tx-appointments .button_back:before {
	background-position:-18px -36px;
}
.tx-appointments .csh:before {
	background-position:-306px -54px;
}

.tx-appointments .one-button-form button {
	border:0;
	padding:0;
	background-color:transparent;
	cursor:pointer;
}
.tx-appointments .one-button-form fieldset {
	margin-bottom:0;
}
.tx-appointments .one-button-form,
.tx-appointments .one-button-form fieldset {
	display:inline-block;
}


/* Forms */

.tx-appointments .f3-form-error {
	background-color:#ff9f9f !important;
	border:1px solid #f00 !important;
}

.tx-appointments .formfield-wrap {
	margin-bottom:10px;
}

.tx-appointments span.warnUnload {
	display:none;
}
.tx-appointments .submit {
	background-color:#ccc;
	border:1px solid #999;
}
.tx-appointments .submit.next {
	font-weight:bold;
}
.tx-appointments textarea,
.tx-appointments .textinput { 
	width:500px;
}
.tx-appointments .textinput.small {
	width:auto;
}
.tx-appointments textarea,
.tx-appointments .textinput,
.tx-appointments .select,
.tx-appointments .checkbox { 
	border:1px solid #c2c2c1;
	background-color:#fafaf5;
}
.tx-appointments .textinput.datepicker {
	width:90px;
}
.tx-appointments fieldset {
	border:0;
	padding:0;
	margin-bottom:10px;
}
.tx-appointments .required {
	color:#f00;
}

.tx-appointments .submit.attention {
	font-weight:bold;
	color:#d00;
}

.tx-appointments .appointment-form.disabled {
	display:none;
}
.tx-appointments .appointment-form.disabled.visible {
	display:block;
	opacity:0.5;
}



/* Flash messages */

.tx-appointments .typo3-messages {
	overflow:hidden;
	list-style:none;
}
.tx-appointments .typo3-messages .alert {
	margin:8px 0;
	padding:0 10px;
	min-width:100px;
	font-size:0.9em;
	float:left;
	clear:both;
}
.tx-appointments .typo3-messages .alert-title {
	font-weight:bold;
}
.tx-appointments .typo3-messages .alert.alert-danger {
	background-color:#fcb;
	border:1px solid #ea9;
	color:#a33;
}
.tx-appointments .typo3-messages .alert.alert-warning {
	background-color:#ffb;
	border:1px solid #f5d588;
	color:#85510d;
}
.tx-appointments .typo3-messages .alert.alert-notice {
	background-color:#e4e4e4;
	border:1px solid #d5d5d5;
	color:#443;
}
.tx-appointments .typo3-messages .alert.alert-info {
	background-color:#def;
	border:1px solid #cdf;
	color:#469;
}
.tx-appointments .typo3-messages .alert.alert-success {
	background-color:#cdefc0;
	border:1px solid #b9ddaa;
	color:#3b7826;
}


.tx-appointments .validation-errors {
	margin:8px 0;
	padding:10px;
	min-width:100px;
	font-size:0.9em;
}
.tx-appointments .validation-errors {
	display:inline-block;
}
.tx-appointments ul.validation-error-messages {
	list-style-type:square;
}
.tx-appointments .validation-errors .validation-fieldname {
	font-weight:bold;
}
.tx-appointments .validation-errors {
	background-color:#fcb;
	border:1px solid #ea9;
	color:#a33;
}

.tx-appointments .typo3-messages .alert-danger .alert-message:before,
.tx-appointments .validation-errors .validation-header:before {
	background-position:-306px -198px;
}
.tx-appointments .typo3-messages .alert-warning .alert-message:before {
	background-position:-54px -216px;
}
.tx-appointments .typo3-messages .alert-notice .alert-message:before {
	background-position:-18px -216px;
}
.tx-appointments .typo3-messages .alert-info .alert-message:before {
	background-position:0 -216px;
}
.tx-appointments .typo3-messages .alert-success .alert-message:before {
	background-position:-36px -216px;
}

.tx-appointments .typo3-messages .links {
	padding-bottom:10px;
}



@keyframes flashTimer {
	0% { color:#469; }
	30% { color:#f00; }
	70% { color:#f00; }
}
.tx-appointments span.reservation-timer.flash {
	animation:flashTimer linear 1.5s infinite;
}